<h3>Name: <%= @tama.name %></h3>

<br>

<div class="row">
  <div class="col-sm-6">
    <strong>Level: <%= @tama.lvl %></strong><br>
    <strong>Health: <%= @tama.health %></strong><br>
    <strong>Fed Level: <%= @tama.fed_lvl %></strong><br>
    <strong><p>Communication: <%= @com %></p></strong>
  </div>
  <div class="col-sm-6">
    <p>Current Time: <%= @time %></p>
    <br>
    <p>Seconds alive: <%= @tama.time_diff %></p>
    <br>
    <p>Tama's birth time: <%= @tama.get_birth_time %></p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-6">
    <a class="btn btn-info" href="/feed">Feed</a>
    <a class="btn btn-info" href="/play">Play</a>
    <a class="btn btn-info" href="/sleep">Send to bed</a>
  </div>
  <div class="col-sm-6">
    <a class="btn btn-warning" href="/time">What time is it?</a>
    <a class="btn btn-warning" href="/time_diff">Tama's Age?</a>
  </div>
</div>
